*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Patrick Hand", cursive;
}

:root {
    --bg-color: #121212;
    --second-bg-color: #202020;
    --text-color: #ffffff;
    --main-color: #b68362;
    --other-color: #8b8a91;
    --alt-color:#4b4b51;
    --ann-color: #c7c6d3;

    --h1-font: 6rem;
    --h2-font: 3.8rem;
    --p-font: 1.1rem
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    /* left: 0; */
    width: 100%;
    /* height: 100px; */
    /* background: var(--second-bg-color); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 14%;
    z-index: 1000;
    transition: all .6s ease;
}

header.sticky {
    padding: 5px 14%;
    background: rgba(0, 0, 0, 0.3);  /* Slightly dark transparent */
    backdrop-filter: blur(25px);
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.25));
}

header.sticky a {
    color: #ffffff; /* White text */
}

header.sticky a:hover {
    color: #ff9f9f; /* Light red/pink hover */
}

.logo img{
    /* max-width: 80px; */
    width: 40%;
    height: 100%;
    object-fit: contain;
}

.menulist a{
    display: inline-block;
    font-size: 20px;
    font-weight: 300;
    color: var(--other-color);
    margin: 0 30px;
    transition: all .6s ease;
}

.menulist a:hover{
    color: var(--text-color);
}

.menulist a.active{
    color: var(--text-color);
}

.menu-right{
    display: flex;
    align-items: center;
}

.menu-btn{
    display: inline-block;
    padding: 15px 25px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 12px;   
    font-weight: 500;   
    font-size: 20px;  
    transition: all .6s ease;
}

.menu-btn:hover{
    background: linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    color: var(--text-color);
}

#menu-icon{
    display: none;
    z-index: 10001;
    font-size: 40px;
    margin-left: 25px;
    cursor: pointer;
}

section{
    padding: 100px 14% 90px;
}

.home{
    height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: flex-start; 
    background: url(../img/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.home-text{
    padding-top: 100px;
}

.h-line{
    display: inline-block;
    padding: 10px 14px;
    background: transparent;
    border: 1px solid var(--alt-color);
    font-size: 25px;
    font-weight: 500;
    color: var(--ann-color);
    border-radius: 10px;
    transition: all .6s ease;
}

.h-line:hover{
    background: var(--alt-color);
    color: var(--text-color);
}  

.home-text h1{
    margin: 20px 0;
    font-size: 80px;
}

.home-text h1 span{
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-text h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 35px;
}

.social-icons a{
    display: inline-flex;
    align-items: center;   
    justify-content: center;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 1px solid var(--alt-color);
    border-radius: 25%;
    color: var(--ann-color);
    font-size: 25px;
    margin-left: 12px;
    margin-bottom: 40px;
    transition: all .6s ease;    
}

.social-icons a:hover{
    transform: scale(1.06) rotate3d(0, 0, 1, 360deg);
    background: var(--alt-color);
    color: var(--text-color);
}

.h-btn{
   display: flex;
    align-items: center;

}

.btn1{
    display: inline-block;
    padding: 18px 35px;
    background: transparent;
    border: 1px solid var(--alt-color);
    color: var(--text-color);
    border-radius: 17px;   
    font-weight: 500;   
    font-size: 20px;  
    margin-right: 20px;
    transition: all .7s ease;
}
.btn1:hover{
    background: var(--alt-color);
    color: var(--text-color);
    transform: scale(1.06);
    letter-spacing: 2px;
}   

.btn2{
    display: inline-block;
    padding: 18px 35px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 17px;   
    font-weight: 500;   
    font-size: 20px;  
    transition: all .7s ease;
}

.btn2:hover{
    background: linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    color: var(--text-color);
    transform: scale(1.06);
    letter-spacing: 2px;
}

.about {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
    height: 700px;
    max-width: 500px;
    object-fit: cover;
    border-radius: 5%;
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    border: 1px solid var(--main-color);
}

.about-text h2{
    margin: 22px 0;
    font-size: var(--h2-font);
}

.about-text h2 span{
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-text h5{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.7rem;
    margin-bottom: 30px;
}

.about-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 1.7rem;
    margin-bottom: 30px;
    color: var(--ann-color);
}

.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}

.services-left h2{
    margin: 22px 0;
    font-size: var(--h2-font);
}

.services-left h2 span{
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-left p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 1.7rem;
    margin-bottom: 30px;
    color: var(--ann-color);
}

.services-right{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px; 
    padding: 30px 60px;
    background: var(--second-bg-color);
    border-radius: 0.5rem;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    border-image-slice: 1;
    transition: all .7s ease;
    cursor: pointer;
}

.box-icon i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 1.7rem;
    font-size: 30px;
    transition: all .7s ease;
}

.box-icon i:hover{
    transform: scale(1.1) translate3d(9px, 0px, 0px);
}

.box-text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
}

.box-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 1.7rem;
    color: var(--ann-color);
}  

.box:hover{
    transform: translateY(-10px);
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    border-image-slice: 1;
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio p{
    font-size:22px;
    letter-spacing: 2px;
}
.mid-text h2{
    margin-bottom: 22px;
    font-size: var(--h2-font);
}

.mid-text h2 span{
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

.row-img{
   overflow: hidden;
   border-radius: 1.7rem;
}

.row-img img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.7s;
    cursor: pointer;
}

.row-img img:hover{
    transform: scale(1.1);
}

.row{
    background: var(--second-bg-color);
    border-radius: 1.7rem;
    padding: 0px 0px 10px 0px;
    transition: all .7s ease;
}

.row-in{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.row-left h3{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.row-left h6{
    font-size: 15px;
    color: var(--ann-color);
    font-weight: 500;
    margin-bottom: 10px;
}

.row-right a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 1.7rem;
    font-size: 25px;
    transition: all .7s ease;
}

.row-right a:hover{
    transform: scale(1.1) translate3d(11px, 0px, 0px);
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.contact-main h2{
    margin: 32px 0;
    font-size: var(--h2-font);
}
.contact-main h2 span{
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email{
    margin-bottom: 22px;
}

.email p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--ann-color);
}

.email h6{
    font-size: 22px;
    font-weight: 600;
}

.number{
    margin-bottom: 40px;
}

.number p{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    color: var(--ann-color);
}

.number h6{
    font-size: 22px;
    font-weight: 600;
}

.contact-form{
    width: 100%;
    max-width: 600px;
    display: grid;
    gap: 1.2rem;
}

.contact-form input, .contact-form textarea {
    border: none;
    outline: none;
    padding: 17px;
    font-size: 0.9rem;
    background: var(--second-bg-color);
    color: var(--text-color);
    border-radius: 0.6rem;
}

form input::placeholder
form textarea::placeholder {
    color: var(--ann-color);
    font-size: 15p;
}

form .submit-btn{
    display: inline-block;
    padding: 18px 25px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 12px;   
    font-weight: 500;   
    font-size: 20px;  
    transition: all .7s ease;
    cursor: pointer;
    width: 30%;
}

form .submit-btn:hover{
    background: linear-gradient(135deg, var(--main-color) 0%, #e1bac5 100%);
    color: var(--text-color);
    transform: scale(1.06);
    letter-spacing: 2px;
}

.footer{
    background: transparent;
    padding: 30px 14%;
    text-align: center;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.copyright p{
    font-size: 20px;
    font-weight: 500;
    color: var(--ann-color);
}

.scroll-top i{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #e1bac5 0%, var(--main-color) 100%);
    color: var(--bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    transition: all .6s ease;
}

@media (max-width: 1580px) {
    header{
        padding: 15px 6%;
    }   
    header.sticky{
        padding: 3px 6%;
    }
    .section{
        padding: 100px 6% 80px;
    }
    .footer{
        padding: 15px 6%;
    }
}

@media (max-width: 1300px) {
    header{
        padding: 15px 3%;
    }   
    header.sticky{
        padding: 3px 3%;
    }
    .section{
        padding: 100px 3% 80px;
    }
    .footer{
        padding: 15px 3%;
    }
    :root{
        --h1-font: 4.5rem;
        --h2-font: 3rem;
        --p-font: 1rem;
    }
}

@media (max-width: 1200px) {
    .about{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about-img{
        text-align: center;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 580px;
        max-width: 450px;
        border-radius: 20%;
        object-fit: cover;
        margin: 0 auto;
    }
    .services{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .services-right{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        width: 100%;
    }
    .box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .contact{
        grid-template-columns: 1fr;
        gap: 2rem;
    }   
    .contact-form{
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 1000px) {
    .logo img{
        max-width: 20%;
    }
    .menulist a{
        font-size: 17px;
        margin: 0 20px;
    }
    .menu-btn{
        padding: 14px 22px;
        font-size: 15px;
    }
    .btn1, .btn2{
        padding: 14px 22px;
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    :root{
        --h1-font: 4rem;
        --h2-font: 2.8rem;
    }
}

@media (max-width: 800px) {
    #menu-icon{
        display: block;
    }
    .menulist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 70px 50px;
        top: 0;
        right: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background: #000;
        transition: all .6s ease-in-out;
    }
    .menulist a{
        display: block;
        padding: 0;
        margin: 0px 0px 25px 0px;
        font-size: 1.7rem;
    }
    .menulist.open{
        left: 0;
    }
}

@media (max-width: 590px) {
    :root{
        --h1-font: 3.4rem;
        --h2-font: 2.5rem;
    }

    .about-img img{
        text-align: center;
        width: 100%;
        height: 500px;
        max-width: 380px;
        border-radius: 20%;
        object-fit: cover;
        margin: 0 auto;

    }
    form .submit-btn{
        padding: 13px 27px;
        width: 40%;
        font-size: 13px;
    }
}